.loop-argument {
  border: solid red 1px;
  clear: both;
  .name {float: left}
  .information {
    float: left;
    border-left: solid yellow 1px;
    .example {border: solid yellow 1px;}
    .description {border: solid  1px;}
  }

}