.substitution-attribute {
  margin-bottom: 15px;
  .name {float: left}
  .information {
    float: left;
    border-left: solid 3px;
    padding: 5px;
    .description { }
    .expected_values {
      color : grey;
      margin-top: 3px;
      ul { list-style-position: inside; color: #505050; }
    }
    .default { color : #202020; margin-top: 3px; }
    .example { color : grey; margin-top: 9px; }
  }
}

.h3-information {
  color: #008080;
  font-size: 12px;
  background-color: #FCE8E3;
  padding: 7px;
}