<footer role="contentinfo" class="thelia-footer clearfix" itemtype="http://schema.org/WPFooter" itemscope>
    <div class="container">
        <ul class="breadcrumb text-right">
            {% for lang in site.languages %}
            <li><a href="{{lang.url}}" title="{{lang.name}}">{{lang.code}}</a></li>
            {% endfor %}
        </ul>
    </div>
</footer>

<!-- JavaScript -->
<!--[if lt IE 9]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <!--<![endif]-->
<script>
    if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='/js/libs/jquery.js' %3E%3C/script%3E"));
    }
</script>

<script src="/js/libs/bootstrap.min.js"></script>
<script src="/js/libs/anchorify/src/anchorify.js"></script>
<script src="/js/main.js"></script>