<!-- Sidebar -->
<aside class="large-3 columns">
    <div class="section-container accordion " data-section="accordion">

        {% for section in site.sidebar %}
            <section class="section {% if page.sidebar == section.sidebar_name %} active {% endif %}">
                <p class="title" data-section-title><a href="{% if section.url != nil AND section.url != '' %}{{ section.url }}{% else %}#{% endif %}">{{ section.name }}</a></p>
                {% if section.subsections != nil AND section.subsections != '' %}
                <div class="content">
                    <ul class="side-nav">
                        {% for subsection in section.subsections %}
                        <li class="{% if page.subnav == subsection.sidebar_name %} active {% endif %}">
                            <a href="{{ subsection.url }}">{{ subsection.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </section>
        {% endfor %}

    </div>
</aside>
<!-- End Sidebar -->