<!-- Sidebar -->
<aside class="large-3 columns">
    <div class="section-container accordion " data-section="accordion">
        <section class="section {% if page.sidebar == 'index' %} active {% endif %}">
            <p class="title" data-section-title><a href="/index.html">Installation</a></p>
        </section>
        <section class="section {% if page.sidebar == 'configuration' %} active {% endif %}">
            <p class="title" data-section-title><a href="/documentation/configuration.html">Configuration</a></p>
        </section>
        <section class="section {% if page.sidebar == 'plugin' %} active {% endif %}" >
            <p class="title" data-section-title><a href="/#">Modules</a></p>
            <div class="content">
                <ul class="side-nav">
                    <li class="{% if page.subnav == 'plugin_index' %} active {% endif %}">
                        <a href="/documentation/modules/index.html" >Starting</a>
                    </li>
                    <li class="{% if page.subnav == 'plugin_loop' %} active {% endif %}">
                        <a href="/documentation/modules/loops.html">Loops</a>
                    </li>
<!--                    <li class="{% if page.subnav == 'plugin_testloop' %} active {% endif %}">
                        <a href="/documentation/modules/testloops.html">TestLoops</a>
                    </li>-->
                    <li class="{% if page.subnav == 'plugin_baseparam' %} active {% endif %}">
                        <a href="/documentation/modules/baseparams.html">BaseParams</a>
                    </li>
                    <li class="{% if page.subnav == 'plugin_action' %} active {% endif %}">
                        <a href="/documentation/modules/actions.html">Actions</a>
                    </li>
                    <li class="{% if page.subnav == 'plugin_command' %} active {% endif %}">
                        <a href="/documentation/modules/commands.html">Commands</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section {% if page.sidebar == 'form' %} active {% endif %}" >
            <p class="title" data-section-title><a href="/#">Form</a></p>
            <div class="content">
                <ul class="side-nav">
                    <li class="{% if page.subnav == 'form_index' %} active {% endif %}">
                        <a href="/documentation/form/index.html">Program you Form</a>
                    </li>
                    <li class="{% if page.subnav == 'form_action' %} active {% endif %}">
                        <a href="/documentation/form/action.html">Use your form in actions</a>
                    </li>
                    <li class="{% if page.subnav == 'form_template' %} active {% endif %}">
                        <a href="/documentation/form/template.html">Display form</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</aside>
<!-- End Sidebar -->