{% if page.arguments != nil %}
<h3>
    {% if page.argument != nil and page.argument != '' %}`{{ page.argument }}` available values{% else %}Arguments{% endif %}
</h3>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        {% assign sorted = page.arguments | sort : 'name' %}
        {% for argument in sorted %}
        <tr>
            <td>
                {{ argument.name }}
            </td>
            <td>
                {{ argument.description }}
                {% if argument.from_version != nil AND argument.from_version != '' %}
                    <span class="label label-info" title="From version {{ argument.from_version }}">&gt;= {{ argument.from_version }}</span>
                {% endif %}
                {% if argument.until_version != nil AND argument.until_version != '' %}
                    <span class="label label-default" title="Until version {{ argument.until_version }}">&lt; {{ argument.until_version }}</span>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endif %}