<h3>
    {% if page.attribute != nil and page.attribute != '' %}`{{ page.attribute }}` available values{% else %}Attributes{% endif %}
</h3>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        {% for attribute in page.attributes %}
        <tr>
            <td>
                {{ attribute.name }} {% if attribute.is_DateTime == true %}*{% endif %}
            </td>
            <td>
                {{ attribute.description }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<p>
    <strong>*</strong> : this is a DateTime information.<br />
    You can therefore specify 2 optional specific parameters :<br />
    - `output` which takes 'date', 'datetime' or 'time' as value<br />
    - `format` which take a <a href="http://php.net/manual/fr/function.date.php" target="_blank">PHP date format</a><br />
    ie : {product attr='createdAt' output='date' format='Y-m-d'}
</p>