<div class="alert alert-warning">
    <h4>Important informations :</h4>
    <p>
        * : argument is required<br />
        ** : at least one of ** marked argument is required
    </p>
</div>

{% if page.uses_global_argument == true %}
    <h4>Global arguments</h4>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Argument</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>

            {% for argument in layout.global_arguments %}

                {% assign overwritten = false %}
                {% for pageargument in page.arguments %}
                    {% if pageargument.name == argument.name %}
                        {% assign overwritten = true %}
                    {% endif %}
                {% endfor %}

                {% if overwritten == false %}

                    <tr>
                        <td>
                            {{ argument.name }} {% if argument.mandatory == "true" %}*{% endif %}{% if argument.mandatory == "double" %}**{% endif %}
                            {% if argument.from_version != nil AND argument.from_version != '' %}
                            <br/>
                            <span class="label label-info">Thelia &gt;= {{ argument.from_version }}</span>
                            {% endif %}
                            {% if argument.until_version != nil AND argument.until_version != '' %}
                            <br/>
                            <span class="label label-default">Thelia &lt; {{ argument.until_version }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <p>{{ argument.description }}</p>

                            {% if argument.expected_values != nil AND argument.expected_values != '' %}
                            <div class="expected_values">
                                Expected values :
                                <ul>
                                    {% for expected_value in argument.expected_values %}
                                    <li>
                                        {{ expected_value.name }}{% if expected_value.description != nil and expected_value.description != '' %} : <em>{{ expected_value.description }}</em>{% endif %}
                                        {% if expected_value.from_version != nil AND expected_value.from_version != '' %}
                                        <span class="label label-info">Thelia &gt;= {{ expected_value.from_version }}</span>
                                        {% endif %}
                                        {% if expected_value.until_version != nil AND expected_value.until_version != '' %}
                                        <br/>
                                        <span class="label label-default">Thelia &lt; {{ expected_value.until_version }}</span>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            {% if argument.default != nil AND argument.default != '' %}
                            <p>
                                <strong>default</strong> : {{ argument.default }}
                            </p>
                            {% endif %}

                            {% if argument.example != nil AND argument.example != '' %}
                            <p>
                                example : <em>{{ argument.example }}</em>
                            </p>
                            {% endif %}

                        </td>
                    </tr>

                {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% if page.text_search_fields != nil AND page.text_search_fields != '' %}
    <h5>Text search arguments</h5>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Argument</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for argument in layout.text_search_arguments %}

                {% assign overwritten = false %}
                {% for pageargument in page.arguments %}
                    {% if pageargument.name == argument.name %}
                        {% assign overwritten = true %}
                    {% endif %}
                {% endfor %}

                {% if overwritten == false %}

                    <tr>
                        <td>
                            {{ argument.name }} {% if argument.mandatory == "true" %}*{% endif %}{% if argument.mandatory == "double" %}**{% endif %}
                            {% if argument.from_version != nil AND argument.from_version != '' %}
                            <br/>
                            <span class="label label-info">Thelia &gt;= {{ argument.from_version }}</span>
                            {% endif %}
                            {% if argument.until_version != nil AND argument.until_version != '' %}
                            <br/>
                            <span class="label label-default">Thelia &lt; {{ argument.until_version }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <p>{{ argument.description }}</p>

                            {% if argument.name == 'search_in' %}
                            <div class="expected_values">
                                Possible values : <strong>{{ page.text_search_fields }}</strong>
                            </div>
                            {% else %}
                                {% if argument.expected_values != nil AND argument.expected_values != '' %}
                                <div class="expected_values">
                                    Expected values :
                                    <ul>
                                        {% for expected_value in argument.expected_values %}
                                        <li>
                                            {{ expected_value.name }}{% if expected_value.description != nil and expected_value.description != '' %} : <em>{{ expected_value.description }}</em>{% endif %}
                                            {% if expected_value.from_version != nil AND expected_value.from_version != '' %}
                                            <span class="label label-info">Thelia &gt;= {{ expected_value.from_version }}</span>
                                            {% endif %}
                                            {% if expected_value.until_version != nil AND expected_value.until_version != '' %}
                                            <br/>
                                            <span class="label label-default">Thelia &lt; {{ expected_value.until_version }}</span>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            {% endif %}

                            {% if argument.default != nil AND argument.default != '' %}
                            <p>
                                <strong>default</strong> : {{ argument.default }}
                            </p>
                            {% endif %}

                            {% if argument.example != nil AND argument.example != '' %}
                            <p>
                                example : <em>{{ argument.example }}</em>
                            </p>
                            {% endif %}

                        </td>
                    </tr>

                {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endif %}

<h4>Loop arguments</h4>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Argument</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for argument in page.arguments %}
        <tr>
            <td>
                {{ argument.name }} {% if argument.mandatory == "true" %}*{% endif %}{% if argument.mandatory == "double" %}**{% endif %}
                {% if argument.from_version != nil AND argument.from_version != '' %}
                <br/>
                <span class="label label-info">Thelia &gt;= {{ argument.from_version }}</span>
                {% endif %}
                {% if argument.until_version != nil AND argument.until_version != '' %}
                <br/>
                <span class="label label-default">Thelia &lt; {{ argument.until_version }}</span>
                {% endif %}
            </td>
            <td>
                <p>{{ argument.description }}</p>

                {% if argument.expected_values != nil AND argument.expected_values != '' %}
                <div class="expected_values">
                    Expected values :
                    <ul>
                        {% for expected_value in argument.expected_values %}
                        <li>
                            {{ expected_value.name }}{% if expected_value.description != nil and expected_value.description != '' %} : <em>{{ expected_value.description }}</em>{% endif %}
                            {% if expected_value.from_version != nil AND expected_value.from_version != '' %}
                            <span class="label label-info">Thelia &gt;= {{ expected_value.from_version }}</span>
                            {% endif %}
                            {% if expected_value.until_version != nil AND expected_value.until_version != '' %}
                            <br/>
                            <span class="label label-default">Thelia &lt; {{ expected_value.until_version }}</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if argument.default != nil AND argument.default != '' %}
                <p>
                    <strong>default</strong> : {{ argument.default }}
                </p>
                {% endif %}

                {% if argument.example != nil AND argument.example != '' %}
                <p>
                    example : <em>{{ argument.example }}</em>
                </p>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
