<div class="large-12 columns">
    <h3>Outputs</h3>

    {% if page.returns_global_outputs.countable == true or page.returns_global_outputs.timestampable == true or page.returns_global_outputs.versionable == true %}

        <h4>Global outputs</h4>

        {% if page.returns_global_outputs.countable == true %}

        {% for output in page.global_outputs.countable %}

        <div class="loop-output large-12">
            <div class="name large-3">
                {{ output.name }}
            </div>
            <div class="information large-9">
                <div class="description">
                    {{ output.description }}
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        {% endfor %}

        {% endif %}

        {% if page.returns_global_outputs.timestampable == true %}

        {% for output in page.global_outputs.timestampable %}

        <div class="loop-output large-12">
            <div class="name large-3">
                {{ output.name }}
            </div>
            <div class="information large-9">
                <div class="description">
                    {{ output.description }}
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        {% endfor %}

        {% endif %}

        {% if page.returns_global_outputs.versionable == true %}

        {% for output in page.global_outputs.versionable %}

        <div class="loop-output large-12">
            <div class="name large-3">
                {{ output.name }}
            </div>
            <div class="information large-9">
                <div class="description">
                    {{ output.description }}
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        {% endfor %}

        {% endif %}

        <h4>Loop outputs</h4>

    {% endif %}

    {% for output in page.outputs %}
    <div class="loop-output large-12">
        <div class="name large-3">
            {{ output.name }}
        </div>
        <div class="information large-9">
            <div class="description">
                {{ output.description }}
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    {% endfor %}
</div>
