{% if page.returns_global_outputs.countable == true or page.returns_global_outputs.timestampable == true or page.returns_global_outputs.versionable == true %}

{% assign object_name = page.type | capitalize %}
    <h4>Global outputs</h4>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Variable</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% if page.returns_global_outputs.countable == true %}
                {% assign sorted = layout.global_outputs.countable | sort : 'name' %}
                {% for output in sorted %}
                <tr>
                    <td>
                        {{ output.name }}
                    </td>
                    <td>
                        {{ output.description | replace : '!OBJECT!', object_name}}
                    </td>
                </tr>
                {% endfor %}
            {% endif %}

            {% if page.returns_global_outputs.timestampable == true %}
                {% for output in layout.global_outputs.timestampable %}
                <tr>
                    <td>
                        {{ output.name }}
                    </td>
                    <td>
                        {{ output.description | replace : '!OBJECT!', object_name}}
                    </td>
                </tr>
                {% endfor %}
            {% endif %}

            {% if page.returns_global_outputs.versionable == truee != nil) %}
                {% assign sorted = layout.global_outputs.versionable | sort : 'name' %}
                {% for output in sorted %}
                <tr>
                    <td>
                        {{ output.name }}
                    </td>
                    <td>
                        {{ output.description | replace : '!OBJECT!', object_name}}
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>

{% endif %}

<h4>Loop outputs</h4>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Variable</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% if page.outputs %}
            {% assign sorted = page.outputs | sort : 'name' %}
            {% for output in sorted %}
                <tr>
                    <td>
                        {{ output.name }}
                        {% if output.from_version != nil AND output.from_version != '' %}
                         <span class="label label-info" title="From version {{ output.from_version }}">&gt;= {{ output.from_version }}</span>
                        {% endif %}
                        {% if output.until_version != nil AND output.until_version != '' %}
                         <span class="label label-default" title="Until version {{ output.until_version }}">&lt; {{ output.until_version }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ output.description }}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}    
        </tbody>
    </table>
</div>
