/* line 1, ../sass/loop.scss */
.loop-argument {
  margin-bottom: 15px;
}
/* line 3, ../sass/loop.scss */
.loop-argument .name {
  float: left;
}
/* line 4, ../sass/loop.scss */
.loop-argument .information {
  float: left;
  border-left: solid 3px;
  padding: 5px;
}
/* line 9, ../sass/loop.scss */
.loop-argument .information .expected_values {
  color: grey;
  margin-top: 3px;
}
/* line 12, ../sass/loop.scss */
.loop-argument .information .expected_values ul {
  list-style-position: inside;
  color: #505050;
}
/* line 14, ../sass/loop.scss */
.loop-argument .information .default {
  color: #202020;
  margin-top: 3px;
}
/* line 15, ../sass/loop.scss */
.loop-argument .information .example {
  color: grey;
  margin-top: 9px;
}

/* line 18, ../sass/loop.scss */
.loop-output {
  margin-bottom: 15px;
}
/* line 20, ../sass/loop.scss */
.loop-output .name {
  float: left;
}
/* line 21, ../sass/loop.scss */
.loop-output .information {
  float: left;
  border-left: solid 3px;
  padding: 5px;
}
/* line 25, ../sass/loop.scss */
.loop-output .information .description {
  margin-bottom: 3px;
}

/* line 30, ../sass/loop.scss */
.loop-example .description {
  border-top: solid 1px;
  padding-top: 20px;
  font-style: italic;
}
/* line 35, ../sass/loop.scss */
.loop-example .code {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 41, ../sass/loop.scss */
.h3-information {
  color: #008080;
  font-size: 12px;
  background-color: #FCE8E3;
  padding: 7px;
}
