/* line 1, ../sass/substitution.scss */
.substitution-attribute {
  margin-bottom: 15px;
}
/* line 3, ../sass/substitution.scss */
.substitution-attribute .name {
  float: left;
}
/* line 4, ../sass/substitution.scss */
.substitution-attribute .information {
  float: left;
  border-left: solid 3px;
  padding: 5px;
}
/* line 9, ../sass/substitution.scss */
.substitution-attribute .information .expected_values {
  color: grey;
  margin-top: 3px;
}
/* line 12, ../sass/substitution.scss */
.substitution-attribute .information .expected_values ul {
  list-style-position: inside;
  color: #505050;
}
/* line 14, ../sass/substitution.scss */
.substitution-attribute .information .default {
  color: #202020;
  margin-top: 3px;
}
/* line 15, ../sass/substitution.scss */
.substitution-attribute .information .example {
  color: grey;
  margin-top: 9px;
}

/* line 19, ../sass/substitution.scss */
.h3-information {
  color: #008080;
  font-size: 12px;
  background-color: #FCE8E3;
  padding: 7px;
}
