<div class="description large-12">
    I want to display all products from categories 1 and 2 and their subcategories whose feature `color` (ID : 1) is `blue` (ID : 13) or `lightblue` (ID : 17), order by ascending price
</div>

{% capture codesample %}

```smarty
<ul>
{loop type="product" name="my_product_loop" category="1,2" depth="2" feature_available="1:13|17" order="min_price"}
    <li>#TITLE (#REF)</li>
{/loop}
</ul>
```

{% endcapture %}

<div class="code large-12">{{ codesample | markdownify }}</div>

<div class="description large-12">
    I want to display all products which are in promo for the current category displaying the new products first and then order by decreasing price
</div>

{% capture codesample %}

```smarty
<ul>
{loop type="product" name="another_sproduct_loop" promo="true" current_category="true" order="new,max_price"}
    <li>#TITLE (#REF)</li>
{/loop}
</ul>
```

{% endcapture %}

<div class="code large-12">{{ codesample | markdownify }}</div>
