---
global_arguments :
- {name: "name", description: "The loop name. This name must be unique and is used to reference this loop further in the page (see ifloop, elseloop or pageloop)", mandatory: "true"}
- {name: "page", description: "The page to display.", example: "page=\"2\""}
- {name: "limit", description: "The maximum number of results to display.", example: "limit=\"10\""}
- {name: "offset", description: "The first product to display offset. Will not be used if `page` argument is set.", example: "offset=\"1\"", default: "0"}
- {name: "backend_context", description: "Determine if loop is use in backend context.", example: "backend_context=\"on\"", default: "false"}
- {name: "force_return", description: "force return result for i18n tables even if there is no record", example: "force_return=\"on\"", default: "false"}

text_search_arguments : [
{name: "search_term", description: "The term to search", example: "search_term=\"my product\""},
{name: "search_in", description: "A comma separeted list of field in which performs search", example: "search_in=\"title\""},
{name: "search_mode", description: "the search mode : `any_word` (search any word separeted by a space), `sentence` (the sentence, anywhere in the field) or `strict_sentence` (the exact sentence)", default: "strict_sentence"}
]

global_outputs : {
countable : [
{ name: "$LOOP_COUNT", description: "the current results index starting from 1" },
{ name: "$LOOP_TOTAL", description: "the total number of results" }
],
timestampable : [
{ name: "$CREATE_DATE", description: "" },
{ name: "$UPDATE_DATE", description: "" }
],
versionable : [
{ name: "$VERSION", description: "" },
{ name: "$VERSION_DATE", description: "" },
{ name: "$VERSION_AUTHOR", description: "" }
]
}
---
<!doctype html>
<!--[if lt IE 7 ]><html class="no-js oldie ie6" lang="{{page.lang}}"> <![endif]-->
<!--[if IE 7 ]><html class="no-js oldie ie7" lang="{{page.lang}}"> <![endif]-->
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="{{page.lang}}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="{{page.lang}}" class="no-js"> <!--<![endif]-->
<head>
    {% include header.html %}
</head>

<body itemtype="http://schema.org/WebPage" itemscope>

{% include navbar.html %}

<section role="document" class="container">
    <section class="row">
        <div class="col-lg-3 col-md-3 col-sm-3" itemtype="http://schema.org/SiteNavigationElement" itemscope>
            <aside role="navigation" class="thelia-sidebar">{% include sidebar.html %}</aside>
        </div>
        <main role="main" class="col-lg-9 col-md-9 col-sm-9">

            <h1>{{ page.title }}</h1>

            {% for description_p in page.description %}

            <p>{{ description_p }}</p>

            {% endfor %}

{% highlight smarty %}
{loop type="{{ page.type }}" [argument="value"], [...]}
{% endhighlight %}

            <hr />

            <ul class="nav nav-tabs">
                <li class="active"><a href="#argument" data-toggle="tab">Arguments</a></li>
                <li><a href="#output" data-toggle="tab">Outputs</a></li>
                <li><a href="#exemple" data-toggle="tab">Examples</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active fade in" id="argument">
                    {% include loop/argument_row.html %}
                </div>
                <div class="tab-pane fade" id="output">
                    {% include loop/output_row.html %}
                </div>
                <div class="tab-pane fade" id="exemple">
                    {% include loop/exemple_row.html %}
                </div>
            </div>

        </main>

    </section>
</section>

{% include footer.html %}

</body>
</html>
