---
global_arguments :
    - {name: "name", description: "The loop name. This name must be unique and is used to reference this loop further in the page (see ifloop, elseloop or pageloop)"}
    - {name: "page", description: "The page to display.", example: "page=\"2\""}
    - {name: "limit", description: "The maximum number of results to display.", example: "limit=\"10\"", default: "10"}
    - {name: "offset", description: "The first product to display offset. Will not be used if `page` argument is set.", example: "offset=\"1\"", default: "0"}
global_outputs :
    - {name: "#LOOP_COUNT", description: "the current results index starting from 1"}
    - {name: "#LOOP_TOTAL", description: "the total number of results"}
---
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    {% include header.html %}
    <link rel="stylesheet" href="/stylesheets/loop.css" />
</head>
<body>
<!-- Nav Bar -->
{% include navbar.html %}
<!-- End Nav -->


<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Main Content -->
    <div class="large-9 columns" role="content">
        {{ content }}

        <div class="row">

            <div class="large-12 columns">
                <h3>Arguments</h3>

                {% if page.uses_global_argument == true %}

                <h4>Global arguments</h4>
                {% for argument in page.global_arguments %}
                <div class="loop-argument large-12">
                    <div class="name large-3">
                        {{ argument.name }} {% if argument.mandatory == "true" %}*{% endif %}
                    </div>
                    <div class="information large-9">

                        <div class="description">
                            {{ argument.description }}
                        </div>

                        {% if argument.expected_values != nil AND argument.expected_values != '' %}
                        <div class="expected_values">
                            Expected values :
                            <ul>
                                {% for expected_value in argument.expected_values %}
                                <li>{{ expected_value.name }}{% if expected_value.description != nil and expected_value.description != '' %} : <em>{{ expected_value.description }}</em>{% endif %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if argument.default != nil AND argument.default != '' %}
                        <div class="default">
                            <strong>default</strong> : {{ argument.default }}
                        </div>
                        {% endif %}

                        {% if argument.example != nil AND argument.example != '' %}
                        <div class="example">
                            example : <em>{{ argument.example }}</em>
                        </div>
                        {% endif %}

                    </div>
                    <div style="clear: both"></div>
                </div>
                {% endfor %}

                <h4>Loop arguments</h4>

                {% endif %}

                {% for argument in page.arguments %}
                    <div class="loop-argument large-12">
                        <div class="name large-3">
                            {{ argument.name }} {% if argument.mandatory == "true" %}*{% endif %}
                        </div>
                        <div class="information large-9">

                            <div class="description">
                                {{ argument.description }}
                            </div>

                            {% if argument.expected_values != nil AND argument.expected_values != '' %}
                            <div class="expected_values">
                                Expected values :
                                <ul>
                                    {% for expected_value in argument.expected_values %}
                                    <li>{{ expected_value.name }}{% if expected_value.description != nil and expected_value.description != '' %} : <em>{{ expected_value.description }}</em>{% endif %}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            {% if argument.default != nil AND argument.default != '' %}
                            <div class="default">
                                <strong>default</strong> : {{ argument.default }}
                            </div>
                            {% endif %}

                            {% if argument.example != nil AND argument.example != '' %}
                            <div class="example">
                                example : <em>{{ argument.example }}</em>
                            </div>
                            {% endif %}

                        </div>
                        <div style="clear: both"></div>
                    </div>
                {% endfor %}
            </div>

            <div class="large-12 columns">
                <h3>Outputs</h3>

                {% if page.returns_global_outputs == true %}

                <h4>Global outputs</h4>
                {% for output in page.global_outputs %}
                <div class="loop-output large-12">
                    <div class="name large-3">
                        {{ output.name }}
                    </div>
                    <div class="information large-9">
                        <div class="description">
                            {{ output.description }}
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                {% endfor %}

                <h4>Loop outputs</h4>

                {% endif %}

                {% for output in page.outputs %}
                <div class="loop-output large-12">
                    <div class="name large-3">
                        {{ output.name }}
                    </div>
                    <div class="information large-9">
                        <div class="description">
                            {{ output.description }}
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                {% endfor %}
            </div>

            <div class="large-12 columns">
                <h3>Examples</h3>

                {% for example in page.examples %}
                <div class="loop-example large-12">
                    <div class="description large-12">
                        {{ example.description }}
                    </div>
                    <div>
                        {{ example.code }}
                    </div>
                    <div style="clear: both"></div>
                </div>
                {% endfor %}

            </div>

        </div>

    </div>

    <!-- End Main Content -->


    {% include sidebar.html %}
</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->

<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="small-2 large-4 columns">
            <ul>
                <li>
                    <a href="/api/index.html">Thelia API</a>
                </li>
            </ul>
            </div>
            <div class="small-4 large-4 columns">
                <ul>
                    <li>
                        <a href="http://thelia.net">thelia.net</a>
                    </li>
                </ul>
            </div>
            <div class="small-6 large-4 columns">
                <ul>
                    <li>
                        <a href="http://thelia.net/forum">Forum</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{%include footer.html %}
</body>
</html>
