---
layout: home
---

  {{ content }}
  <script>
    (function() {
      var cx = '008098777434175289630:rjkghgvxxci';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();


  </script>
<gcse:searchresults-only linkTarget="_self"></gcse:searchresults-only>